* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1;
            background-color: #f4f4f4;
            margin: 0;
        }

        header {
            background-color: #08142b;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header .logo {
            font-size: 1.5em;
            font-weight: bold;
        }

        header nav ul {
            list-style: none;
            display: flex;
        }

        header nav ul li {
            margin: 0 10px;
        }
        header nav ul li a {
            color:white;
            text-decoration: none;
            transition:color 0.3s;
        }

        header nav ul li a:hover{
            color:#de61f4;
        }
          .hero {
            background-image: url(https://wallpapercave.com/wp/wp14295403.jpg); /* Replace with actual image URL */
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(238, 241, 233);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            text-align: center;
        }

        .hero h1 {
            font-size: 4em;
            margin-bottom: 5px;
        }

        .hero p {
            font-size: 1.0em;
            margin-bottom: 20px;
        }

        .hero a {
            background-color: #3973e6;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 1.2em;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .hero a:hover {
            background-color: #8000f7;
        }

